<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% if title %}
		<title>BlogGuardian - {{ title }}</title>
	{% else %}
		<title>BlogGuardian</title>
	{% endif %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/article.css') }}">
</head>
<body>
	<div class="container">
		{% with messages = get_flashed_messages(with_categories=true) %}
			
		{% endwith %}
		{% block content %}{% endblock %}
	</div>
</body>
</html>